<%- include('partials/header'); -%>

      <form id="todo-form" class="" action="/" method="post">
          <div class="form-control">
              <input type="text" name="newItem" id="todo-input" placeholder="Add your next task" autocomplete="off" />
              <button type = "submit" name="listName" value="<%-listTitle%>">
                <i class="fa-solid fa-plus"></i>    
              </button>    
          </div>    
        </form>

      <div id="todo-list">
        <h3>To do:</h3>
          <% newListItems.forEach(function(item) {  %>
            <form action="/delete" method="post">
              <div class="item">
                <input type="checkbox" name="checkbox" value="<%=item._id%>" onChange="this.form.submit()">
                <p> <%= item.name %> </p>
              </div>
              <input type="hidden" name="listName" value="<%-listTitle%>"></input>
            </form>
          <% }) %>
      </div>

      <% if(listTitle.length === 0) { %>
        <form id="todo-form" class="" action="/createList" method="post">
          <h3>Create a new list:</h3>
          <div class="form-control">
              <input type="text" name="newList" id="todo-input" placeholder="Name of your new list" autocomplete="off" />
              <button type = "submit">
                <i class="fa-solid fa-plus"></i>    
              </button>    
          </div>    
        </form>
      <% } %>
    </div>

<%- include('partials/footer'); -%>